<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fotify necesita acceso a tu librería de fotos para organizar, detectar duplicados y etiquetar tus fotos automáticamente.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fotify necesita permiso para guardar fotos organizadas en tu librería.</string>
</dict>
</plist>
